<footer class="footer" id="footer">
   <div class="footer__shadow">
   </div>

   <div class="container footer__container" data-aos="fade-up">
      <div class="footer__first">
         <a href="#" class="footer__logo">
            <svg xmlns="http://www.w3.org/2000/svg">
               <use xlink:href="img/sprite.svg#logo"></use>
            </svg>
         </a>
         <p class="liltext">
            © 2023 ExLine. Все права защищены
         </p>
         <p class="liltext">
            <a href="">Политика конфиденциальности</a>
         </p>
      </div>

      <div class="footer__nav maintext">
         <a href="#pluses" class="footer__nav__link">Преимущества</a>
         <a href="#canister" class="footer__nav__link">О компании</a>
         <a href="#info" class="footer__nav__link">Продукция</a>
         <a href="#footer" class="footer__nav__link">Контакты</a>
      </div>

      <div class="footer__links maintext">
         <a href="#" class="footer__links__link">
            <svg xmlns="http://www.w3.org/2000/svg">
               <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            <span>exline@gmail.ru</span>
         </a>
         <a href="#" class="footer__links__link">
            <svg xmlns="http://www.w3.org/2000/svg">
               <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <span>+7(000) 000-00-00</span>
         </a>

         <div class="footer__links__bottom">
            <a href="#" class="footer__links__bottom__link">
               <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="img/sprite.svg#tg"></use>
               </svg>
            </a>
            <a href="#" class="footer__links__bottom__link">
               <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="img/sprite.svg#vk"></use>
               </svg>
            </a>
            <a href="#" class="footer__links__bottom__link">
               <img src="img/drive.jpeg" alt="">
            </a>
            <a href="#" class="footer__links__bottom__link">
               <img src="img/club.jpg" alt="">
            </a>
         </div>
      </div>
   </div>
</footer>


<script>
   AOS.init({
      disable: function () {
         var maxWidth = 650;
         return window.innerWidth < maxWidth;
      }
   });
</script>


<!-- <script src="./js/cart-slider.js"></script> -->

<script src="js/menu.js"></script>
<script src="js/pluses-swiper.js"></script>
<script src="js/scroller.js"></script>
<script src="js/canister-hint.js"></script>
<script src="js/series-tabs.js"></script>