<header class="header" data-aos="fade-down">
   <div class="header__container container">
      <a href="#" class="header__logo">
         <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprite.svg#logo"></use>
         </svg>
      </a>

      <nav class="header__nav maintext">
         <ul class="header__nav__list">
            <li class="header__nav__item">
               <a href="#pluses" class="header__nav__link">Преимущества</a>
            </li>
            <li class="header__nav__item">
               <a href="#canister" class="header__nav__link">Продукция</a>
            </li>
            <li class="header__nav__item">
               <a href="#info" class="header__nav__link">О компании</a>
            </li>
            <li class="header__nav__item">
               <a href="#footer" class="header__nav__link">Контакты</a>
            </li>
         </ul>
      </nav>

      <button class="header__country maintext">
         <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprite.svg#mark"></use>
         </svg>
         <span>
            Россия
         </span>
      </button>

      <div class="lang">
         <div class="header__lang liltext caps">
            <a class="header__lang_main">рус</a>
            <div class="header__lang_block">
               <a href="#" class="header__lang_link header__lang_link--active">EN</a>
               <a href="#" class="header__lang_link">ENG</a>
               <a href="#" class="header__lang_link">рус</a>
               <a href="#" class="header__lang_link">JPN</a>
               <a href="#" class="header__lang_link">CHN</a>
            </div>
         </div>
      </div>

      <button class="red_btn maintext bold">
         Интернет-магазин
      </button>

      <button class="header__burger desktop-hidden">
         <span></span>
         <span></span>
         <span></span>
      </button>

   </div>
</header>


<div class="mobile_menu desktop-hidden">
   <div class="container">
      <nav class="mobile__nav">
         <ul class="mobile__nav__list maintext">
            <li class="mobile__nav__item">
               <a href="#pluses" class="mobile__nav__link">Преимущества</a>
            </li>
            <li class="mobile__nav__item">
               <a href="#canister" class="mobile__nav__link">Продукция</a>
            </li>
            <li class="mobile__nav__item">
               <a href="#info" class="mobile__nav__link">О компании</a>
            </li>
            <li class="mobile__nav__item">
               <a href="#footer" class="mobile__nav__link">Контакты</a>
            </li>
         </ul>
      </nav>

      <button class="header__country maintext">
         <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprite.svg#mark"></use>
         </svg>
         <span>
            Россия
         </span>
      </button>

      <button class="red_btn maintext bold">
         Интернет-магазин
      </button>
   </div>
</div>
