<!DOCTYPE html>
<html lang="ru">

<head>
   <include src="src/components/head.html" locals='{
      "title": "Главная"
   }'></include>
</head>

<body>

   <include src="src/components/header.html" locals=''></include>

   <main class="main">
      <section class="section hero">
         <div class="container" data-aos="fade-up">
            <h1 class="hero__header h1 caps">технологичные смазочные<br>материалы<br><span>ExLine</span></h1>
            <p class="hero__text headline">
               Масла EXLINE производятся в Европе на производственных мощностях немецкого производителя VENOL MOTOR
               OIL
               GmbH
            </p>
         </div>
      </section>

      <section class="section pluses" id="pluses">
         <div class="container">
            <h2 class="h2 caps" data-aos="fade-up">
               Преимущества
            </h2>

            <div class="pluses__swiper">
               <div class="pluses__swiper__nav" data-aos="fade-right">
                  <button class="pluses__swiper__nav__btn pluses__swiper__prev">
                     <svg>
                        <use xlink:href="img/sprite.svg#arrow"></use>
                     </svg>
                  </button>
                  <button class="pluses__swiper__nav__btn pluses__swiper__next">
                     <svg>
                        <use xlink:href="img/sprite.svg#arrow"></use>
                     </svg>
                  </button>
               </div>
               <div class="pluses__swiper__cards" data-aos="fade-right">
                  <div class="pluses__swiper__cards__container">
                     <a href="#" data-num="0" class="pluses__swiper__card pluses__swiper__card1">
                        <h3 class="pluses__swiper__card__header h4 caps">Базовые масла1</h3>
                        <p class="pluses__swiper__card__text maintext">
                           EXXONMOBIL (США) – масла IV группы POLY-ALPHA-OLEFIN (PAO), а также высокополярные базовые
                           масла
                           V группы – POLYOL ESTER (POE) и ALKYLATED NAPHTHALENE (AN)
                        </p>
                     </a>
                     <a href="#" data-num="1" class="pluses__swiper__card pluses__swiper__card2">
                        <h3 class="pluses__swiper__card__header h4 caps">Базовые масла2</h3>
                        <p class="pluses__swiper__card__text maintext">
                           EXXONMOBIL (США) – масла IV группы POLY-ALPHA-OLEFIN (PAO), а также высокополярные базовые
                           масла
                           V группы – POLYOL ESTER (POE) и ALKYLATED NAPHTHALENE (AN)
                        </p>
                     </a>
                     <a href="#" data-num="2" class="pluses__swiper__card pluses__swiper__card3">
                        <h3 class="pluses__swiper__card__header h4 caps">Базовые масла</h3>
                        <p class="pluses__swiper__card__text maintext">
                           EXXONMOBIL (США) – масла IV группы POLY-ALPHA-OLEFIN (PAO), а также высокополярные базовые
                           масла
                           V группы – POLYOL ESTER (POE) и ALKYLATED NAPHTHALENE (AN)
                        </p>
                     </a>
                     <a href="#" data-num="3" class="pluses__swiper__card pluses__swiper__card4">
                        <h3 class="pluses__swiper__card__header h4 caps">Пакет присадок</h3>
                        <p class="pluses__swiper__card__text maintext">
                           INFINEUM (Англия) – мировой лидер, новейшие редакции и допуска автопроизводителей
                        </p>
                     </a>
                     <a href="#" data-num="4" class="pluses__swiper__card active">
                        <h3 class="pluses__swiper__card__header h4 caps">Полимерный<br>загуститель</h3>
                        <p class="pluses__swiper__card__text maintext">
                           EVONIK (Германия) – полимер в форме звезды со сверхнизким коэффициентом потерь при сдвиге
                           (SSI),
                           минимальное количество в рецептуре
                        </p>
                     </a>
                     <a href="#" data-num="5" class="pluses__swiper__card pluses__swiper__card6">
                        <h3 class="pluses__swiper__card__header h4 caps">Производство</h3>
                        <p class="pluses__swiper__card__text maintext">
                           Завод VENOL MOTOR OIL GmBH (Германия) с современным оборудованием (полная модернизация в 2016
                           году)
                        </p>
                     </a>
                     <a href="#" data-num="6" class="pluses__swiper__card pluses__swiper__card7">
                        <h3 class="pluses__swiper__card__header h4 caps">Текучесть</h3>
                        <p class="pluses__swiper__card__text maintext">
                           Лёгкий «холодный» запуск двигателя (температура потери текучести масла до -66 C°),
                           гарантированная прокачиваемость и увеличенная скорость подачи масла к узлам при температуре
                           до
                           -35 C°
                        </p>
                     </a>

                     <a href="#" data-num="7" class="pluses__swiper__card pluses__swiper__card8">
                        <h3 class="pluses__swiper__card__header h4 caps">Базовые масла4</h3>
                        <p class="pluses__swiper__card__text maintext">
                           EXXONMOBIL (США) – масла IV группы POLY-ALPHA-OLEFIN (PAO), а также высокополярные базовые
                           масла
                           V группы – POLYOL ESTER (POE) и ALKYLATED NAPHTHALENE (AN)
                        </p>
                     </a>

                     <a href="#" data-num="8" class="pluses__swiper__card pluses__swiper__card9">
                        <h3 class="pluses__swiper__card__header h4 caps">Базовые масла5</h3>
                        <p class="pluses__swiper__card__text maintext">
                           EXXONMOBIL (США) – масла IV группы POLY-ALPHA-OLEFIN (PAO), а также высокополярные базовые
                           масла
                           V группы – POLYOL ESTER (POE) и ALKYLATED NAPHTHALENE (AN)
                        </p>
                     </a>
                  </div>
               </div>
               <div class="pluses__swiper__logo" data-aos="fade-left">
                  <svg class="pluses__swiper__shadow" viewBox="0 0 1200 1200" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <g clip-path="url(#clip0_613_1145)">
                        <g opacity="0.1" filter="url(#filter0_f_613_1145)">
                           <ellipse cx="599.91" cy="600" rx="343.91" ry="346" fill="#F9D833" />
                        </g>
                     </g>
                     <defs>
                        <filter id="filter0_f_613_1145" x="-144" y="-146" width="1487.82" height="1492"
                           filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                           <feFlood flood-opacity="0" result="BackgroundImageFix" />
                           <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                           <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_613_1145" />
                        </filter>
                        <clipPath id="clip0_613_1145">
                           <rect width="1200" height="1200" fill="white" />
                        </clipPath>
                     </defs>
                  </svg>

                  <div class="pluses__swiper__svg_anim pluses__swiper__svg">
                     <button data-num="6" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_7"></button>
                     <button data-num="7" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_8"></button>
                     <button data-num="8" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_9"></button>
                  </div>

                  <div class="pluses__swiper__logo1">
                     <div class="pluses__swiper__logo2">
                        <div class="pluses__swiper__svg_anim pluses__swiper__svg_R pluses__swiper__svg">
                           <button data-num="3" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_4"></button>
                           <button data-num="4" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_5"></button>
                           <button data-num="5" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_6"></button>
                        </div>

                        <div class="pluses__swiper__logo3">
                           <div class="pluses__swiper__svg_anim pluses__swiper__svg">
                              <button data-num="0" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_1"></button>
                              <button data-num="1" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_2"></button>
                              <button data-num="2" class="pluses__swiper__svg__btn pluses__swiper__svg__btn_3"></button>
                           </div>

                           <svg class="pluses__swiper__logoL logoL" width="100" height="97" viewBox="0 0 100 97"
                              fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M82.5003 0L99.5206 50L55.9686 96.5H0.402344L46.9579 50L29.9376 0H82.5003Z"
                                 fill="#EE383A" />
                              <path
                                 d="M29.6536 91.8443L70.251 49.8089L54.975 5.5H39.2613L54.5373 49.8089L13.918 91.8443H29.6536Z"
                                 fill="black" />
                              <path
                                 d="M52.6243 91.8443L93.2436 49.8089L77.9457 5.5H62.232L77.508 49.8089L36.8887 91.8443H52.6243Z"
                                 fill="black" />
                           </svg>

                           <svg class="pluses__swiper__logoR logoR" width="102" height="97" viewBox="0 0 102 97"
                              fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M18.2491 97L0.976799 47L45.1735 0.5H101.562L54.3177 47L71.59 97H18.2491Z"
                                 fill="#EE383A" />
                              <path
                                 d="M71.574 5.17749L30.9766 47.1912L46.2525 91.4999H61.9882L46.6903 47.1912L87.3096 5.17749H71.574Z"
                                 fill="black" />
                              <path
                                 d="M48.5877 5.17749L7.99023 47.1912L23.2662 91.4999H38.98L23.704 47.1912L64.3233 5.17749H48.5877Z"
                                 fill="black" />
                           </svg>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="section canister" id="canister">
         <div class="container">
            <div class="canister__first" data-aos="fade-up">
               <div class="canister__top">
                  <h2 class="canister__header h2 caps">
                     <b>Красная</b> канистра
                  </h2>
                  <p class="maintext">
                     ТОП масло со спортивным уклоном, т.е. его можно использовать как в обычных автомобилях, так и в
                     спортивных. Синтетические масла - это масла, созданные на основе синтетических компонентов. Они
                     имеют
                     более высокий индекс вязкости и лучше подходят для использования в условиях высоких
                     <label>
                        <input type="checkbox" name="" id="" hidden>
                        <span class="canister__top_more">Читать далее</span>
                        <span>
                           стандартов вашего автомобиля или мотоцикла. Синтетические масла - это масла, созданные на
                           основе
                           синтетических компонентов. Они
                           имеют
                           более высокий индекс вязкости и лучше подходят для использования в условиях высоких
                           <a class="canister__top_less">Скрыть</a>
                        </span>
                     </label>
                  </p>
               </div>

               <div class="canister__panel maintext">
                  <div class="canister__panel__line">
                     <svg class="canister__panel__line__svg">
                        <use xlink:href="img/sprite.svg#temp"></use>
                     </svg>
                     <div class="canister__panel__line__main">
                        <div class="canister__panel__line__main__item">
                           <span>0W-8</span>
                        </div>
                        <div class="canister__panel__line__main__item">
                           <span>0W/5W-40</span>
                           <svg>
                              <use xlink:href="img/sprite.svg#qm"></use>
                           </svg>
                        </div>
                        <div class="canister__panel__line__main__item">
                           <span>0W-12</span>
                        </div>
                        <div class="canister__panel__line__main__item">
                           <span>0W/5W-20</span>
                           <svg>
                              <use xlink:href="img/sprite.svg#qm"></use>
                           </svg>
                        </div>
                        <div class="canister__panel__line__main__item">
                           <span>0W/5W-50</span>
                           <svg>
                              <use xlink:href="img/sprite.svg#qm"></use>
                           </svg>
                        </div>
                        <div class="canister__panel__line__main__item">
                           <span>0W/5W-16</span>
                           <svg>
                              <use xlink:href="img/sprite.svg#qm"></use>
                           </svg>
                        </div>
                        <div class="canister__panel__line__main__item">
                           <span>0W/5W-30</span>
                           <svg>
                              <use xlink:href="img/sprite.svg#qm"></use>
                           </svg>
                        </div>
                        <div class="canister__panel__line__main__item">
                           <span>10W-60</span>
                        </div>
                     </div>
                  </div>

                  <div class="canister__panel__line">
                     <svg class="canister__panel__line__svg">
                        <use xlink:href="img/sprite.svg#gear"></use>
                     </svg>
                     <p class="canister__panel__line__text">Full SAPS / Mid SAPS / Low SAPS</p>
                  </div>

                  <div class="canister__panel__line">
                     <svg class="canister__panel__line__svg">
                        <use xlink:href="img/sprite.svg#canister"></use>
                     </svg>
                     <p class="canister__panel__line__text">1, 5, 60, 208 litre</p>
                  </div>

                  <div class="canister__hint">
                     <div class="canister__hint__top">
                        <p class="h3">Примечание</p>

                        <svg class="canister__hint__close">
                           <use xlink:href="img/sprite.svg#close"></use>
                        </svg>
                     </div>
                     <p class="canister__hint__text maintext">
                        Отвечает одновременно требованиям SAE 0W-40 и 5W-40
                     </p>
                  </div>
               </div>

               <a href="index.html" download class="canister__first__btn red_btn maintext bold">
                  <span>Скачать каталог</span>

                  <svg class="canister__panel__line__svg">
                     <use xlink:href="img/sprite.svg#download"></use>
                  </svg>
               </a>
            </div>

            <div class="canister__scroller" data-aos="fade-up">

               <div class="canister__scroller__card active" id="canister__scroller1">
                  <div class="canister__scroller__main" id="scroll_main1">
                  </div>
                  <div class="scroll_shadow" id="scroll_shadow1">
                     <img src="img/c-red/1.png" alt="">
                  </div>
               </div>

               <div class="canister__scroller__card" id="canister__scroller2">
                  <div class="canister__scroller__main" id="scroll_main2">
                  </div>
                  <div class="scroll_shadow" id="scroll_shadow2">
                     <img src="img/c-white/1.webp" alt="">
                  </div>
               </div>

               <div class="canister__scroller__card" id="canister__scroller3">
                  <div class="canister__scroller__main" id="scroll_main3">
                  </div>
                  <div class="scroll_shadow" id="scroll_shadow3">
                     <img src="img/c-red/1.png" alt="">
                  </div>
               </div>

               <div class="canister__scroller__card" id="canister__scroller4">
                  <div class="canister__scroller__main" id="scroll_main4">
                  </div>
                  <div class="scroll_shadow" id="scroll_shadow4">
                     <img src="img/c-white/1.webp" alt="">
                  </div>
               </div>


               <svg class="canister__scroller__svg">
                  <use xlink:href="img/sprite.svg#rotate"></use>
               </svg>

               <div style="display: none;">
                  <img src="img/c-red/1.png" alt="" class="">
                  <img src="img/c-red/2.png" alt="" class="">
                  <img src="img/c-red/3.png" alt="" class="">
                  <img src="img/c-red/4.png" alt="" class="">
                  <img src="img/c-red/5.png" alt="" class="">
                  <img src="img/c-red/6.png" alt="" class="">
                  <img src="img/c-red/7.png" alt="" class="">
                  <img src="img/c-red/8.png" alt="" class="">
                  <img src="img/c-red/9.png" alt="" class="">
                  <img src="img/c-red/10.png" alt="" class="">
                  <img src="img/c-red/11.png" alt="" class="">
                  <img src="img/c-red/12.png" alt="" class="">
                  <img src="img/c-red/13.png" alt="" class="">
                  <img src="img/c-red/14.png" alt="" class="">
                  <img src="img/c-red/15.png" alt="" class="">
                  <img src="img/c-red/16.png" alt="" class="">
                  <img src="img/c-red/17.png" alt="" class="">
                  <img src="img/c-red/18.png" alt="" class="">
                  <img src="img/c-red/19.png" alt="" class="">
                  <img src="img/c-red/20.png" alt="" class="">
                  <img src="img/c-red/21.png" alt="" class="">
                  <img src="img/c-red/22.png" alt="" class="">
                  <img src="img/c-red/23.png" alt="" class="">
                  <img src="img/c-red/24.png" alt="" class="">

                  <img src="img/c-white/1.webp" alt="" class="">
                  <img src="img/c-white/2.webp" alt="" class="">
                  <img src="img/c-white/3.webp" alt="" class="">
                  <img src="img/c-white/4.webp" alt="" class="">
                  <img src="img/c-white/5.webp" alt="" class="">
                  <img src="img/c-white/6.webp" alt="" class="">
                  <img src="img/c-white/7.webp" alt="" class="">
                  <img src="img/c-white/8.webp" alt="" class="">
                  <img src="img/c-white/9.webp" alt="" class="">
                  <img src="img/c-white/10.webp" alt="" class="">
                  <img src="img/c-white/11.webp" alt="" class="">
                  <img src="img/c-white/12.webp" alt="" class="">
                  <img src="img/c-white/13.webp" alt="" class="">
                  <img src="img/c-white/14.webp" alt="" class="">
                  <img src="img/c-white/15.webp" alt="" class="">
                  <img src="img/c-white/16.webp" alt="" class="">
                  <img src="img/c-white/17.webp" alt="" class="">
                  <img src="img/c-white/18.webp" alt="" class="">
                  <img src="img/c-white/19.webp" alt="" class="">
                  <img src="img/c-white/20.webp" alt="" class="">
                  <img src="img/c-white/21.webp" alt="" class="">
                  <img src="img/c-white/22.webp" alt="" class="">
                  <img src="img/c-white/23.webp" alt="" class="">
                  <img src="img/c-white/24.webp" alt="" class="">
               </div>

               <div id="dummy"></div>

            </div>

            <div class="canister__btns h3" data-aos="fade-left">
               <a href="#" data-id="canister__scroller1" class="canister__btn active">Красная канистра</a>
               <a href="#" data-id="canister__scroller2" class="canister__btn">Белая канистра</a>
               <a href="#" data-id="canister__scroller3" class="canister__btn">Синяя канистра</a>
               <a href="#" data-id="canister__scroller4" class="canister__btn">Жёлтая канистра</a>
            </div>
         </div>
      </section>

      <section class="section info" id="info">
         <div class="container">
            <h2 class="info__header h1 caps" data-aos="fade-up">
               «<span>Все новое</span> – это&nbsp;хорошо забытое старое»
            </h2>
            <div class="info__top">
               <a href="#" class="info__top__left" data-aos="fade-right">
                  <img src="img/canister-open.png" alt="" class="info__top__img">
               </a>
               <div class="info__top__right" data-aos="fade-left">
                  <p class="info__top__text headline">
                     Многолетний опыт производства, продажи и лучшая компонентная база от признанных лидеров рынка,
                     применяемая в продуктах, являются основой развития бренда и позволяют нам создавать
                     высококонкурентные масла, характеристики которых превышают существующие на сегодняшний день
                     стандарты качества как профильных технических институтов (API, ACEA, ILSAQ), так и OEM
                     производителей.
                  </p>
               </div>
            </div>

            <div class="info__bottom">
               <div class="info__bottom__card" data-aos="fade-up">
                  <h4 class="info__bottom__card__header h2">2016 г.</h4>
                  <p class="maintext info__bottom__card__text">
                     Начало истории бренда EXLINE. Изначально, моторные масла под названием EXTREME LUBRICANTS
                     создавались для автоспортсменов, которые уже использовали наши спортивные немецкие шины EXTREME
                     TYRES. Но через некоторое время, получив положительную обратную связь из мира автоспорта, эти
                     моторные масла стали пользоваться спросом и у обычных автомобилистов.
                  </p>
               </div>
               <div class="info__bottom__card" data-aos="fade-up">
                  <h4 class="info__bottom__card__header h2">2023 г.</h4>
                  <p class="maintext info__bottom__card__text">
                     На сегодняшний день масла EXLINE выпускаются в Европе на производственных мощностях немецкой
                     компании VENOL MOTOR OIL GmbH.
                  </p>
                  <p class="maintext info__bottom__card__text mobile-hidden">
                     В 2023 году произошла смена названия бренда с EXTREME на EXLINE.
                  </p>
               </div>
               <div class="info__bottom__card" data-aos="fade-up">
                  <h4 class="info__bottom__card__header h2">2023 г.</h4>

                  <p class="maintext info__bottom__card__text desktop-hidden">
                     В 2023 году произошла смена названия бренда с EXTREME на EXLINE.
                  </p>

                  <p class="maintext info__bottom__card__text mobile-hidden">
                     В 2023 году бренд EXLINE был включён в ассоциацию ATIEL (Техническая Ассоциация Европейских
                     производителей масел) в перечень компаний, руководствующихся принципами кодекса практики (LoC)
                     ATIEL и Европейской системы мониторинга качества смазочных материалов для двигателей EELQMS, что
                     позволяет заявлять соответствие продукции спецификациям ACEA, получать одобрения
                     автопроизводителей, а также лицензировать продукцию по API.
                  </p>

                  <img src="img/EELQMS.png" alt="">
               </div>
            </div>
         </div>
      </section>


      <section class="section series">
         <div class="series__container container">
            <div class="series__left" data-aos="fade-right">
               <h2 class="series__header h2 caps">
                  Серии моторных масел
               </h2>

               <div class="series__panel">
                  <label class="series__panel__item maintext">
                     <input type="radio" name="series" value="1" checked>
                     <span>Серия VRS</span>
                  </label>
                  <label class="series__panel__item maintext">
                     <input type="radio" name="series" value="2">
                     <span>Серия VRL</span>
                  </label>
                  <label class="series__panel__item maintext">
                     <input type="radio" name="series" value="3">
                     <span>Серия VRC</span>
                  </label>
                  <label class="series__panel__item maintext">
                     <input type="radio" name="series" value="4">
                     <span>Серия VRT</span>
                  </label>
                  <label class="series__panel__item maintext">
                     <input type="radio" name="series" value="5">
                     <span>Серия VRM</span>
                  </label>
               </div>

               <div class="series__text maintext mobile-hidden">
                  <p>
                     Масла данной серии являются ТОПовыми продуктами, выпускаемыми нашей компанией с 2018 года.
                     Высокие эксплуатационные требования, которые предъявляются автоспортсменами, потребовали при
                     разработке рецептур использовать только самые дорогие, качественные компоненты.
                     <br> <br>
                     В целях предоставления как нынешним, так и будущим автоспортсменам лучших смазочных материалов,
                     которые помогли бы реализовать весь потенциал доработанных и мощных двигателей, моторные масла
                     данной серии производятся только из самых топовых базовых масел группы IV (PAO,
                     OLY-ALPHA-OLEFIN; содержание ~ 70%) и высокополярных базовых масел V группы (POLYOL ESTER, POE и
                     ALKYLATED NAPHTHALENE, AN; содержание 7% каждой). Данная комбинация базовых масел позволяет
                     обеспечить высокую термостабильность продуктов (более низкие рабочие температуры нагрева масла),
                     минимальную испаряемость..
                     <label>
                        <input type="checkbox" name="" id="" hidden>
                        <span class="series__text_more">Читать далее</span>
                        <span>
                           стандартов вашего автомобиля или мотоцикла. Синтетические масла - это масла, созданные на
                           основе
                           синтетических компонентов. Они
                           имеют
                           более высокий индекс вязкости и лучше подходят для использования в условиях высоких
                           <a class="series__text_less">Скрыть</a>
                        </span>
                     </label>
                  </p>
               </div>
            </div>
            <div class="series__right" data-aos="fade-left">
               <div class="series__right__card series__right1 active">
                  <div class="series__right_first">
                     <img src="img/canister/с1.png" alt="" class="series__right_first_main">
                  </div>
                  <div class="series__right_second">
                     <img src="img/canister/с11.png" alt="" class="series__right_first_main">
                  </div>
               </div>
               <div class="series__right__card series__right2">
                  <div class="series__right_first">
                     <img src="img/canister/с2.png" alt="" class="series__right_first_main">
                  </div>
                  <div class="series__right_second">
                     <img src="img/canister/с22.png" alt="" class="series__right_first_main">
                  </div>
               </div>
               <div class="series__right__card series__right3">
                  <div class="series__right_first">
                     <img src="img/canister/с3.png" alt="" class="series__right_first_main">
                  </div>
                  <div class="series__right_second">
                     <img src="img/canister/с33.png" alt="" class="series__right_first_main">
                  </div>
               </div>
               <div class="series__right__card series__right4">
                  <div class="series__right_first">
                     <img src="img/canister/с4.png" alt="" class="series__right_first_main">
                  </div>
                  <div class="series__right_second">
                     <img src="img/canister/с44.png" alt="" class="series__right_first_main">
                  </div>
               </div>
               <div class="series__right__card series__right5">
                  <div class="series__right_first">
                     <img src="img/canister/с5.png" alt="" class="series__right_first_main">
                  </div>
                  <div class="series__right_second">
                     <img src="img/canister/с55.png" alt="" class="series__right_first_main">
                  </div>
               </div>
            </div>

            <div class="series__mobtext series__text maintext desktop-hidden">
               <p>
                  Масла данной серии являются ТОПовыми продуктами, выпускаемыми нашей компанией с 2018 года.
                  Высокие эксплуатационные требования, которые предъявляются автоспортсменами, потребовали при
                  разработке рецептур использовать только самые дорогие, качественные компоненты.
                  <label>
                     <input type="checkbox" name="" id="" hidden>
                     <span class="series__text_more">Читать далее</span>
                     <span>
                        стандартов вашего автомобиля или мотоцикла. Синтетические масла - это масла, созданные на
                        основе
                        синтетических компонентов. Они
                        имеют
                        более высокий индекс вязкости и лучше подходят для использования в условиях высоких
                        <a class="series__text_less">Скрыть</a>
                     </span>
                  </label>
               </p>
            </div>
         </div>
      </section>
   </main>

   <include src="src/components/footer.html" locals=''></include>
</body>

</html>