<section class="feedback">
   <div class="container feedback__container">
      <div class="feedback__wrapper">
         <div class="feedback__left">
            <h2 class="h2 caps reg feedback__header">Форма обратной связи</h2>
            <p class="subtitle feedback__subtitle">Заполните форму и наши брокеры свяжутся с вами в удобное для вас
               время!</p>
         </div>
         <from class="feedback__form">
            <input class="feedback__input maintext" type="text" placeholder="Ваше имя">
            <input class="feedback__input maintext" type="email" placeholder="E-mail">
            <input class="feedback__input maintext" type="tel" placeholder="Телефон">

            <button href="#" class="feedback__submit icon_btn maintext caps" disabled="">
               <span>Отправить заявку</span>
            </button>

            <p class="maintext feedback__politics">
               Нажимая кнопку, вы подтверждаете, что ознакомлены и согласны с <a href="#" target="_blank">политикой
                  конфиденциальности</a> данного сайта.
            </p>
         </from>
      </div>
   </div>
</section>