<footer class="footer">
   <div class="container footer__container">

      <div class="footer__left footer__col">
         <svg>
            <use xlink:href="img/sprite.svg#logo"></use>
         </svg>

         <a href="#" class="footer__link maintext light after">Политика конфиденциальности</a>
      </div>

      <div class="footer__center footer__col liltext caps">
         <div class="footer__nav">
            <ul class="nav__list">
               <li class="nav__item">
                  <a href="about.html" class="nav__link after">О компании</a>
               </li>
               <li class="nav__item">
                  <a href="service.html" class="nav__link after">Услуги</a>
               </li>
               <li class="nav__item">
                  <a href="managers.html" class="nav__link after">Менеджеры</a>
               </li>
               <li class="nav__item">
                  <a href="news.html" class="nav__link after">Новости</a>
               </li>
               <li class="nav__item">
                  <a href="contacts.html" class="nav__link after">Контакты</a>
               </li>
               <li class="nav__item">
                  <a href="catalog.html" class="nav__link after">Новостройки</a>
               </li>
               <li class="nav__item">
                  <a href="catalog.html" class="nav__link after">Вторичная недвижимость</a>
               </li>
            </ul>
         </div>

         <div class="footer__social">
            <a href="+79994568585" class="footer__social_link opacity">+ 7 (999) 456-85-85</a>
            <a href="#" class="footer__social_link opacity">
               <span>WhatsApp</span>

               <svg fill="none">
                  <use xlink:href="img/sprite.svg#whatsup"></use>
               </svg>
            </a>
            <a href="#" class="footer__social_link opacity">
               <span>Telegram</span>

               <svg fill="none">
                  <use xlink:href="img/sprite.svg#telegram"></use>
               </svg>
            </a>
         </div>
      </div>

      <div class="footer__right footer__col maintext light">
         <button class="footer_btn maintext caps">
            Заказать консультацию
         </button>

         <a href="politics.html" class="footer__link maintext light after">Политика конфиденциальности</a>

         <p class="footer__copy">
            Разработка сайта —
            <a class="opacity" href="#">Choose.digital</a>
         </p>
      </div>

   </div>
</footer>

<div class="feedback_window">
   <section class="feedback">
      <div class="container feedback__container">
         <div class="feedback__wrapper">

            <button class="feedback_close opacity">
               <svg>
                  <use xlink:href="img/sprite.svg#close-big"></use>
               </svg>
            </button>

            <div class="feedback__left">
               <h2 class="h2 caps reg feedback__header">Форма обратной связи</h2>
               <p class="subtitle feedback__subtitle">Заполните форму и наши брокеры свяжутся с вами в удобное для вас
                  время!</p>
            </div>
            <from class="feedback__form">
               <input class="feedback__input maintext" type="text" placeholder="Ваше имя">
               <input class="feedback__input maintext" type="email" placeholder="E-mail">
               <input class="feedback__input maintext" type="tel" placeholder="Телефон">

               <button href="#" class="feedback__submit icon_btn maintext caps">
                  <span>Отправить заявку</span>
               </button>

               <p class="maintext feedback__politics">
                  Нажимая кнопку, вы подтверждаете, что ознакомлены и согласны с <a href="#" target="_blank">политикой
                     конфиденциальности</a> данного сайта.
               </p>
            </from>
         </div>

         <div class="feedback__wrapper feedback__wrapper--two">
            <button class="feedback_close opacity">
               <svg>
                  <use xlink:href="img/sprite.svg#close-big"></use>
               </svg>
            </button>

            <h5 class="h2 reg">Спасибо за заявку!</h5>
            <p class="h6">Наш менеджер скоро с вами свяжется, а пока вы можете посмотреть объекты недвижимости у нас в
               каталоге.</p>
            <a href="index.html" class="green_btn maintext light caps">
               <span>На главную</span>
               <svg fill="none">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
               </svg>
            </a>
         </div>
      </div>
   </section>
</div>


<script src="js/footer_feedback.js"></script>
<script src="js/menu.js"></script>
<script src="js/menu-highlight.js"></script>
<script src="js/price-filter.js"></script>
<script src="js/card-slider.js"></script>
<script src="js/select.js"></script>
<script src="js/search.js"></script>
<script src="js/filter-open.js"></script>


</body>

</html>