<header class="header maintext caps light">
   <div class="container header__container">
      <nav class="nav">
         <ul class="nav__list">
            <li class="nav__item liltext caps">
               <a href="about.html" class="nav__link">О компании</a>
            </li>
            <li class="nav__item liltext caps">
               <a href="catalog.html" class="nav__link">Недвижимость</a>
            </li>
            <li class="nav__item liltext caps">
               <a href="service.html" class="nav__link">Услуги</a>
            </li>
            <li class="nav__item liltext caps">
               <a href="managers.html" class="nav__link">Менеджеры</a>
            </li>
            <li class="nav__item liltext caps">
               <a href="news.html" class="nav__link">Новости</a>
            </li>
            <li class="nav__item liltext caps">
               <a href="contacts.html" class="nav__link">Контакты</a>
            </li>
            <li class="nav__item lang">
               <div class="header__lang liltext">
                  <a href="#" class="header__lang_main">EN</a>
                  <div class="header__lang_block">
                     <a href="#" class="header__lang_link header__lang_link--active">EN</a>
                     <a href="#" class="header__lang_link">RU</a>
                     <a href="#" class="header__lang_link">AR</a>
                     <a href="#" class="header__lang_link">RU</a>
                     <a href="#" class="header__lang_link">AR</a>
                  </div>
               </div>
            </li>
         </ul>
      </nav>

      <a href="index.html" class="header__logo">
         <svg fill="none">
            <use xlink:href="img/sprite.svg#logo"></use>
         </svg>
      </a>

      <div class="header__left">
         <a href="#" class="header__whatsup maintext caps">
            <span>WhatsApp</span>
            <svg fill="none">
               <use xlink:href="img/sprite.svg#whatsup"></use>
            </svg>
         </a>

         <div class="header__lang liltext">
            <a href="#" class="header__lang_main">EN</a>
            <div class="header__lang_block">
               <a href="#" class="header__lang_link header__lang_link--active">EN</a>
               <a href="#" class="header__lang_link">RU</a>
               <a href="#" class="header__lang_link">AR</a>
               <a href="#" class="header__lang_link">RU</a>
               <a href="#" class="header__lang_link">AR</a>
            </div>
         </div>
      </div>

      <button class="header__menu">
         <span></span>
         <span></span>
         <span></span>
      </button>
   </div>
</header>

<script>
   document.addEventListener("DOMContentLoaded", function () {
      let burger = document.querySelector(".header__menu");
      let menu = document.querySelector(".header .nav");
      let body = document.body;


      burger.addEventListener("click", () => {
         burger.classList.toggle("header__menu--active");
         menu.classList.toggle("nav--active");
         body.classList.toggle("stop-scroll");
      });
   });
</script>