<footer class="footer">
   <div class="container footer__container">
      <div class="footer__col">
         <img class="footer__logo" src="img/logo.svg">
         <a href="#" class="footer__link liltext light base_link">Политика конфиденциальности</a>

         <p class="footer__copyright maintext">
            Разработка сайта — <a href="#" class="footer__link base_link">Choose.Digital</a>
         </p>
      </div>

      <nav class="footer-nav footer__col maintext">
         <ul class="footer-nav__list">
            <li class="footer-nav__item">
               <a href="#" class="footer-nav__link base_link">Главная</a>
            </li>
            <li class="footer-nav__item">
               <a href="#" class="footer-nav__link base_link">Тендеры</a>
            </li>
            <li class="footer-nav__item">
               <a href="#" class="footer-nav__link base_link">Вакансии</a>
            </li>
            <li class="footer-nav__item">
               <a href="#" class="footer-nav__link base_link">Контакты</a>
            </li>
         </ul>
      </nav>

      <div class="footer__col">
         <div class="footer__row">
            <p class="liltext light footer__header">Головной офис:</p>

            <address class="footer__address maintext">
               Москва, ул. Двинцев, д. 12, корп. 1 подъезд “С”, 12 этаж, Бизнес-центр «Двинцев»
            </address>
         </div>

         <div class="footer__row">
            <p class="liltext light footer__header">Телефон:</p>
            <a href="#" class="footer__link maintext base_link" href="tel:+74957558300">+7 (495) 755-83-00</a>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="liltext light footer__header">Почта:</p>
            <a class="footer__link maintext base_link"
               href="mailto:info@burservis.ru">info@burservis.ru</a>
         </div>
      </div>

      <div class="footer__col">
         <div class="footer__row">
            <p class="liltext footer__header light">У нас есть открытые <a href="vacancy.html"
                  class="footer__link footer__vacancy">вакансии</a>, по
               вопросам трудоустройства и прохождения практики:</p>
            <a class="footer__link maintext base_link"
               href="mailto:BurservisCV@burservis.ru">BurservisCV@burservis.ru</a>
         </div>
         <div class="footer__row">
            <p class="liltext footer__header light">Отдел закупок:</p>
            <a class="footer__link maintext base_link" href="mailto:zakupki@burservis.ru">zakupki@burservis.ru</a>
         </div>
      </div>


      <div class="footer__col desctop-hidden">
         <a href="#" class="footer__link liltext light base_link">Политика конфиденциальности</a>

         <p class="footer__copyright maintext">
            Разработка сайта — <a href="#" class="footer__link base_link">Choose.Digital</a>
         </p>
      </div>
   </div>
</footer>

<script src="js/menu.js"></script>
<script src="js/menu-highlight.js"></script>