<!DOCTYPE html>
<html lang="ru">

<head>
   <include src="src/components/headers.html" locals='{
      "title": "О компании"
   }'></include>
</head>


<body>

   <include src="src/components/header.html" locals=''></include>

   <main class="main aboutus">
      <section class="aboutus_hero section">
         <div class="container">
            <div class="navigation maintext">
               <a href="index.html" class="navigation__link">Главная</a>
               <!-- <span>/</span> -->
               <a href="about.html" class="navigation__link">О компании</a>
            </div>

            <div class="aboutus_hero__main">
               <h1 class="h1 aboutus__header reg">Z13 Real Estate</h1>
               <p class="h5 light">— экспертное агентство по продаже недвижимости, управлению и инвестиционному
                  консалтингу в
                  Дубае.</p>
            </div>

         </div>

         <div class="aboutus_hero__img"></div>
      </section>


      <section class="aboutus_card section">
         <div class="container">
            <div class="aboutus_card__wrapper">
               <h2 class="aboutus_card__subtitle subtitle caps reg">О нас</h2>
               <h3 class="aboutus_card__h3 h3 light">
                  Мы - надежный советник, который поможет подобрать самое лучшее решение под вашу задачу. Решение,
                  которое будет обязательно ориентировано на результат.
               </h3>
            </div>
         </div>
      </section>

      <section class="aboutus_twocards section">
         <div class="aboutus_twocards__container container">
            <img src="img/twocards.png" class="aboutus_twocards__left">
            <div class="aboutus_twocards__right">
               <p class="aboutus_twocards__text h5">
                  Мы не просто посредник, мы проводник в мир качественной недвижимости и выгодных инвестиций. Помощник,
                  который осознает всю ответственность за настоящее и будущее каждого нашего клиента.
               </p>
            </div>
         </div>
      </section>


      <section class="aboutus_card section">
         <div class="container">
            <div class="aboutus_card__wrapper">
               <h2 class="aboutus_card__subtitle subtitle caps reg">Наша миссия</h2>
               <h3 class="aboutus_card__h3 h3 light">
                  Наша миссия заключается в предоставлении нашим клиентам беспрецедентного уровня обслуживания и опыта,
                  когда речь идет о покупке недвижимости в Дубае.
               </h3>
               <p class="aboutus_card__maintext maintext light">
                  Благодаря нашей экспертности и высокому уровню сервиса вы поймете, что такое действительно достойное
                  отношение к клиентам. Отношение, которое подразумевает не разовую сделку, а долгосрочное и выгодное
                  для вас партнерство на долгие годы.
               </p>
            </div>
         </div>
      </section>


      <section class="aboutus_three section">
         <div class="aboutus_three__container container">
            <div class="aboutus_three__card aboutus_three__card--beige">
               <svg fill="none">
                  <use xlink:href="img/sprite.svg#logo_white"></use>
               </svg>
            </div>

            <div class="aboutus_three__card aboutus_three__card--orange">
               <svg fill="none">
                  <use xlink:href="img/sprite.svg#people"></use>
               </svg>
               <h6 class="aboutus_three__card__h6 h6 reg">
                  Наша команда опытных специалистов поможет вам найти идеальную недвижимость, отвечающую вашим
                  потребностям.
               </h6>
               <p class="maintext light">
                  Мы имеем обширную базу объектов недвижимости и гарантированно найдем для вас подходящий вариант.
               </p>
            </div>

            <div class="aboutus_three__card aboutus_three__card--orange">
               <svg fill="none">
                  <use xlink:href="img/sprite.svg#person_coin"></use>
               </svg>
               <h6 class="aboutus_three__card__h6 h6 reg">
                  Наша компания гордится тем, что может обеспечить отличное обслуживание клиентов, помогая им не только
                  ориентироваться в сложностях, связанных с покупкой недвижимости, но и в вопросах страхования,
                  юриспруденции, налогообложения и многих других.
               </h6>
               <p class="maintext light">
                  После обращения к нам вы можете быть уверены, что нашли надежного партнера на рынке ОАЭ.
               </p>
            </div>
         </div>
      </section>

   </main>

   <include src="src/components/footer.html" locals=''></include>

</body>

</html>