<!DOCTYPE html>
<html lang="ru">

<head>
   <include src="src/components/headers.html" locals='{
      "title": "Главная"
   }'></include>
</head>


<body>

   <include src="src/components/header.html" locals=''></include>

   <main class="main index">
      <section class="section hero">
         <div class="container hero__container">
            <h1 class="h1 med hero__title caps">Агентство<br>недвижимости Z13</h1>
            <p class="subtitle hero__subtitle">Продажа недвижимости, управление и инвестиционный<br>консалтинг в Дубае.
            </p>
            <a href="catalog.html" class="green_btn maintext light caps">
               <span>В каталог</span>
               <svg fill="none">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
               </svg>
            </a>
         </div>
      </section>

      <section class="section services">
         <div class="container services__container">
            <h2 class="h2 section__header caps reg">Наши услуги</h2>

            <div class="services__cards">
               <div class="services__card">
                  <svg fill="none">
                     <use xlink:href="img/sprite.svg#new-build"></use>
                  </svg>
                  <p class="subtitle caps">Продажа<br>новостроек</p>
               </div>
               <div class="services__card">
                  <svg fill="none">
                     <use xlink:href="img/sprite.svg#old-build"></use>
                  </svg>
                  <p class="subtitle caps">Продажа вторичной недвижимости</p>
               </div>
               <div class="services__card">
                  <svg fill="none">
                     <use xlink:href="img/sprite.svg#control"></use>
                  </svg>
                  <p class="subtitle caps">управление и контроль Вашего имущества</p>
               </div>
               <div class="services__card">
                  <svg fill="none">
                     <use xlink:href="img/sprite.svg#design"></use>
                  </svg>
                  <p class="subtitle caps">комплексный дизайн и меблировка</p>
               </div>
            </div>

            <div class="services__main">
               <div class="services__main__card">
                  <h3 class="services__main__header h3 reg caps">Новостройки</h3>

                  <img src="img/services.jpeg" alt="Нвоостройки в Дубае" class="services__main__img">

                  <a href="#" class="arrow_link">
                     <svg fill="none">
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                     </svg>
                  </a>
               </div>
               <div class="services__main__card">
                  <h3 class="services__main__header h3 reg caps">ВторичнАЯ Недвижимость</h3>

                  <img src="img/services2.jpeg" alt="Нвоостройки в Дубае" class="services__main__img">

                  <a href="#" class="arrow_link">
                     <svg fill="none">
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                     </svg>
                  </a>
               </div>
            </div>
         </div>
      </section>

      <section class="section special">
         <div class="container special__container">
            <div class="section__top">
               <h2 class="h2 section__header caps reg">Специальные предложения</h2>

               <a href="catalog.html" class="link_arrow caps maintext med">
                  <span>В каталог</span>
                  <svg>
                     <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
               </a>
            </div>

            <div class="special__swiper">
               <div class="special__wrapper">
                  <div class="house_card">
                     <div class="house_card__slider">
                        <img src="img/house_card.jpeg" alt="" class="house_card__img house_card__img--active">
                        <img src="img/house_card1.jpeg" alt="" class="house_card__img">
                        <img src="img/house_card2.jpeg" alt="" class="house_card__img">

                        <div class="house_card__pagination">
                        </div>
                     </div>
                     <div class="house_card__text">
                        <div class="house_card__location maintext light">
                           <svg fill="none">
                              <use xlink:href="img/sprite.svg#location"></use>
                           </svg>
                           <span>Дубай. Palm West Beach</span>
                        </div>

                        <h4 class="house_card__header subtitle reg caps">Студия Peninsula 3 в центре Дубая от Select
                           Group
                        </h4>

                        <div class="house_card__info maintext">
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bed"></use>
                              </svg>
                              2 спальни
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bath"></use>
                              </svg>
                              1 ванная
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#room"></use>
                              </svg>
                              2 спальни
                           </div>
                        </div>

                        <div class="house_card__price">
                           <p class="house_card__price_full h6 demi">7 269 064 AED</p>

                           <p class="house_card__price_per maintext light">269 064 AED / м<sup>2</sup></p>
                        </div>
                     </div>
                  </div>
                  <div class="house_card">
                     <div class="house_card__slider">
                        <img src="img/house_card1.jpeg" alt="" class="house_card__img house_card__img--active">
                        <img src="img/house_card.jpeg" alt="" class="house_card__img">
                        <img src="img/house_card2.jpeg" alt="" class="house_card__img">

                        <div class="house_card__pagination">
                        </div>
                     </div>
                     <div class="house_card__text">
                        <div class="house_card__location maintext light">
                           <svg fill="none">
                              <use xlink:href="img/sprite.svg#location"></use>
                           </svg>
                           <span>Дубай. Palm West Beach</span>
                        </div>

                        <h4 class="house_card__header subtitle reg caps">Студия Peninsula 3 в центре Дубая от Select
                           Group
                        </h4>

                        <div class="house_card__info maintext">
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bed"></use>
                              </svg>
                              2 спальни
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bath"></use>
                              </svg>
                              1 ванная
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#room"></use>
                              </svg>
                              2 спальни
                           </div>
                        </div>

                        <div class="house_card__price">
                           <p class="house_card__price_full h6 demi">7 269 064 AED</p>

                           <p class="house_card__price_per maintext light">269 064 AED / м<sup>2</sup></p>
                        </div>
                     </div>
                  </div>
                  <div class="house_card">
                     <div class="house_card__slider">
                        <img src="img/house_card2.jpeg" alt="" class="house_card__img house_card__img--active">
                        <img src="img/house_card1.jpeg" alt="" class="house_card__img">
                        <img src="img/house_card.jpeg" alt="" class="house_card__img">

                        <div class="house_card__pagination">
                        </div>
                     </div>
                     <div class="house_card__text">
                        <div class="house_card__location maintext light">
                           <svg fill="none">
                              <use xlink:href="img/sprite.svg#location"></use>
                           </svg>
                           <span>Дубай. Palm West Beach</span>
                        </div>

                        <h4 class="house_card__header subtitle reg caps">Студия Peninsula 3 в центре Дубая от Select
                           Group
                        </h4>

                        <div class="house_card__info maintext">
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bed"></use>
                              </svg>
                              2 спальни
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bath"></use>
                              </svg>
                              1 ванная
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#room"></use>
                              </svg>
                              2 спальни
                           </div>
                        </div>

                        <div class="house_card__price">
                           <p class="house_card__price_full h6 demi">7 269 064 AED</p>

                           <p class="house_card__price_per maintext light">269 064 AED / м<sup>2</sup></p>
                        </div>
                     </div>
                  </div>
                  <div class="house_card">
                     <div class="house_card__slider">
                        <img src="img/house_card.jpeg" alt="" class="house_card__img house_card__img--active">
                        <img src="img/house_card1.jpeg" alt="" class="house_card__img">
                        <img src="img/house_card2.jpeg" alt="" class="house_card__img">

                        <div class="house_card__pagination">
                        </div>
                     </div>
                     <div class="house_card__text">
                        <div class="house_card__location maintext light">
                           <svg fill="none">
                              <use xlink:href="img/sprite.svg#location"></use>
                           </svg>
                           <span>Дубай. Palm West Beach</span>
                        </div>

                        <h4 class="house_card__header subtitle reg caps">Студия Peninsula 3 в центре Дубая от Select
                           Group
                        </h4>

                        <div class="house_card__info maintext">
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bed"></use>
                              </svg>
                              2 спальни
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#bath"></use>
                              </svg>
                              1 ванная
                           </div>
                           <div class="house_card__info_block">
                              <svg fill="none">
                                 <use xlink:href="img/sprite.svg#room"></use>
                              </svg>
                              2 спальни
                           </div>
                        </div>

                        <div class="house_card__price">
                           <p class="house_card__price_full h6 demi">7 269 064 AED</p>

                           <p class="house_card__price_per maintext light">269 064 AED / м<sup>2</sup></p>
                        </div>
                     </div>
                  </div>
               </div>


               <button class="arrow_btn special__arrow">
                  <svg>
                     <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
               </button>
            </div>
         </div>
      </section>

      <script>
         document.addEventListener("DOMContentLoaded", () => {
            var swiper = new Swiper(".special__swiper", {
               wrapperClass: 'special__wrapper',
               slideClass: 'house_card',
               slidesPerView: "auto",
               spaceBetween: "3%",
               navigation: {
                  nextEl: '.special__arrow',
               },
               // breakpoints: {
               //    650: {
               //       slidesPerView: "auto",
               //    }
               // }
            });
         });
      </script>

      <section class="section manage">
         <div class="container manage__container">
            <div class="section__top">
               <h2 class="h2 section__header caps reg">Менеджеры</h2>

               <p class="manage__text subtitle">Наша команда опытных специалистов поможет вам найти идеальную
                  недвижимость,
                  отвечающую вашим потребностям. Мы имеем обширную базу объектов недвижимости и гарантированно найдем
                  для
                  вас подходящий вариант.</p>

               <a href="#" class="link_arrow caps maintext med">
                  <span>Все брокеры</span>
                  <svg>
                     <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
               </a>
            </div>

            <div class="manage__swiper">
               <div class="manage__wrapper">
                  <div class="manage__card">
                     <img src="img/man1.jpeg" alt="" class="manage__img">

                     <div class="manage__card__text">
                        <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                        <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                        <br>
                        <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                     </div>
                  </div>
                  <div class="manage__card">
                     <img src="img/man2.jpeg" alt="" class="manage__img">

                     <div class="manage__card__text">
                        <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                        <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                        <br>
                        <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                     </div>
                  </div>
                  <div class="manage__card">
                     <img src="img/man3.jpeg" alt="" class="manage__img">

                     <div class="manage__card__text">
                        <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                        <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                        <br>
                        <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                     </div>
                  </div>
                  <div class="manage__card">
                     <img src="img/man4.jpeg" alt="" class="manage__img">

                     <div class="manage__card__text">
                        <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                        <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                        <br>
                        <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                     </div>
                  </div>
                  <div class="manage__card">
                     <img src="img/man1.jpeg" alt="" class="manage__img">

                     <div class="manage__card__text">
                        <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                        <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                        <br>
                        <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                     </div>
                  </div>
               </div>

               <button class="arrow_btn manage__arrow">
                  <svg>
                     <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
               </button>
            </div>
         </div>

      </section>

      <script>
         document.addEventListener("DOMContentLoaded", () => {
            let manage_swiper = new Swiper(".manage__swiper", {
               wrapperClass: 'manage__wrapper',
               slideClass: 'manage__card',
               slidesPerView: "auto",
               spaceBetween: '3%',

               navigation: {
                  nextEl: '.manage__arrow',
               },
               // breakpoints: {
               //    650: {
               //       slidesPerView: "auto",
               //    }
               // }
            });
         });
      </script>



      <section class="section news">
         <div class="container news__container">
            <div class="section__top">
               <h2 class="h2 section__header caps reg">Новости</h2>

               <a href="#" class="link_arrow caps maintext med">
                  <span>Все новости</span>
                  <svg>
                     <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
               </a>
            </div>

            <div class="news__swiper">
               <div class="news__wrapper">
                  <div class="news__card">
                     <div class="news__card__text">
                        <p class="news__card__time maintext light">03.05.2023</p>
                        <h5 class="news__card__header h5 caps reg">ОАЭ заняли второе место в мире среди лучших стран для
                           экспатов</h5>
                        <a href="#" class="news__card__link med after maintext caps">Подробнее</a>
                     </div>

                     <img src="img/news1.jpeg" alt="" class="news__card__img">
                  </div>

                  <div class="news__card">
                     <div class="news__card__text">
                        <p class="news__card__time maintext light">03.05.2023</p>
                        <h5 class="news__card__header h5 caps reg">Цены на элитную недвижимость в Дубае выросли на 27%
                        </h5>
                        <a href="#" class="news__card__link med after maintext caps">Подробнее</a>
                     </div>

                     <img src="img/news2.jpeg" alt="" class="news__card__img">
                  </div>
               </div>
            </div>
         </div>
      </section>

      <script>
         document.addEventListener("DOMContentLoaded", () => {
            if (window.innerWidth > 700) {
               let manage_swiper = new Swiper(".news__swiper", {
                  wrapperClass: 'news__wrapper',
                  slideClass: 'news__card',
                  slidesPerView: "auto",
                  spaceBetween: 60,
                  // navigation: {
                  //    nextEl: '.manage__arrow',
                  // },
               });
            }
         });
      </script>

   </main>

   <include src="src/components/footer.html" locals=''></include>
</body>

</html>