<!DOCTYPE html>
<html lang="ru">

<head>
   <include src="src/components/headers.html" locals='{
      "title": "Менеджеры"
   }'></include>
</head>


<body>

   <include src="src/components/header.html" locals=''></include>

   <main class="main managers">
      <section class="managers_hero section">
         <div class="container">
            <div class="navigation maintext">
               <a href="index.html" class="navigation__link">Главная</a>
               <a href="managers.html" class="navigation__link">Менеджеры</a>
            </div>

            <div class="managers__top">
               <h2 class="h2 section__header caps reg">Менеджеры</h2>

               <p class="subtitle">
                  Наша команда опытных специалистов поможет вам найти идеальную недвижимость, отвечающую вашим
                  потребностям. Мы имеем обширную базу объектов недвижимости и гарантированно найдем для вас подходящий
                  вариант.
               </p>
            </div>

            <div class="managers__grid">
               <div class="manage__card">
                  <img src="img/man1.jpeg" alt="" class="manage__img"> 

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
               <div class="manage__card">
                  <img src="img/man2.jpeg" alt="" class="manage__img">

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
               <div class="manage__card">
                  <img src="img/man3.jpeg" alt="" class="manage__img">

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
               <div class="manage__card">
                  <img src="img/man4.jpeg" alt="" class="manage__img">

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
               <div class="manage__card">
                  <img src="img/man1.jpeg" alt="" class="manage__img">

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
               <div class="manage__card">
                  <img src="img/man2.jpeg" alt="" class="manage__img">

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
               <div class="manage__card">
                  <img src="img/man3.jpeg" alt="" class="manage__img">

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
               <div class="manage__card">
                  <img src="img/man4.jpeg" alt="" class="manage__img">

                  <div class="manage__card__text">
                     <h3 class="subtitle reg caps">Казаков Игорь <br>владимирович</h3>

                     <a href="tel:+79992545686" class="manage__tel maintext med caps opacity">+7 (999) 254-56-86</a>
                     <br>
                     <a href="mailto:DariaKaz@mail.ru" class="manage__mail maintext opacity">DariaKaz@mail.ru</a>
                  </div>
               </div>
            </div>


         </div>
      </section>

      <include src="src/components/feedback.html" locals=''></include>
   </main>

   <include src="src/components/footer.html" locals=''></include>

</body>

</html>