<!DOCTYPE html>
<html lang="ru">

<head>
   <include src="src/components/headers.html" locals='{
      "title": "Политика"
   }'></include>
</head>


<body>

   <include src="src/components/header.html" locals=''></include>

   <main class="main politics">
      <section class="politics_section">
         <div class="container">
            <div class="navigation maintext">
               <a href="index.html" class="navigation__link">Главная</a>
               <a href="new.html" class="navigation__link">Контакты</a>
            </div>

            <h1 class="politics__header h2 caps reg">
               Политика конфиденциальности
            </h1>

            <div class="politics__main">
               <div class="politics_sec">
                  <p class="maintext light">
                     В этой политике конфиденциальности объясняется, как мы собираем отвас информацию и для каких целей
                     она используется
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Информация, которую вы предоставляете</h2>
                  <p class="maintext light">
                     Вы можете предоставить нам личную контактную информацию несколькими способами, включая отправку
                     запроса на недвижимость, переписку с нами по электронной почте, заполнение опроса, участие в
                     конкурсе, завершение обзора, предоставление отзыва или сообщение о проблеме. Мы храним ваши личные
                     данные только после того, как вы согласились с нашими условиями, указанными в форме.
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Информация, которую мы собираем</h2>
                  <p class="maintext light">
                     Мы автоматически собираем метаданные из вашего веб-браузера, ограниченные типом и версией, маркой и
                     моделью устройства, вашим IP-адресом, реферальным доменом и настройками языка браузера.
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Способы, с помощью которых мы можем передавать вашу личную информацию</h2>
                  <p class="maintext light">
                     Мы сообщаем агентам ваше имя, адрес электронной почты и номер телефона всякий раз, когда вы
                     отправляете запрос на недвижимость на Z13. После того, как мы отправим эти данные, к их
                     использованию будет применяться собственная политика конфиденциальности агентов. Мы отправляем
                     информацию о вашем посещении поставщикам аналитических и поисковых систем с целью улучшения наших
                     услуг. Эти данные включают IP-адрес, посещенные страницы и тип браузера, но не содержат никаких
                     прямых личных идентификаторов, таких как имя или адрес электронной почты. Мы можем отправлять ваши
                     метаданные в рекламные сети с целью показа вам релевантной рекламы. Если Z13 или его активы
                     приобретены, хранящиеся у нас пользовательские данные будут частью передачи. Если мы получим
                     профессиональный совет (например, от юристов или финансовых консультантов), мы можем раскрыть вашу
                     личную информацию. Мы можем раскрыть вашу личную информацию, если это потребует от нас
                     государственный или регулирующий орган.
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Способы использования вашей личной информации</h2>
                  <p class="maintext light">
                     Выполнение ваших запросов, например, отправка запросов на недвижимость агентам или застройщикам.
                     Предоставление вам информации об услугах Z13, которые могут вас заинтересовать. Любые маркетинговые
                     электронные письма, которые мы отправляем вам, будут иметь возможность отказаться от подписки.
                     Улучшение вашего опыта использования наших услуг, например, обеспечение наиболее эффективного
                     представления контента для вашего устройства. Предоставление вам релевантной рекламы на нашем сайте
                     или других сайтах, управляемых Z13. Внутреннее бизнес-администрирование, например, анализ данных,
                     устранение неполадок, тестирование и исследования.
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Хранение вашей личной информации</h2>
                  <p class="maintext light">
                     Мы можем хранить вашу информацию на защищенных серверах в любой точке мира. Отправляя свою личную
                     информацию, вы соглашаетесь на эту передачу, хранение или обработку. Где бы ни находились наши
                     серверы, мы полагаемся на утвержденные механизмы передачи данных, чтобы обеспечить надлежащую
                     защиту вашей личной информации. После того, как вы отправили нам свои данные, мы используем строгие
                     процедуры для обеспечения безопасности ваших данных, однако мы не можем гарантировать их
                     безопасность. Любые данные, которые вы отправляете нам, отправляются на ваш страх и риск. Если у
                     вас есть пароль для доступа к некоторым частям наших веб-сайтов, вы несете ответственность за
                     сохранение конфиденциальности этого пароля. Вы не должны никому сообщать свой пароль.
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Запрос на удаление данных</h2>
                  <p class="maintext light">
                     Мы храним вашу личную информацию до тех пор, пока это необходимо для тех целей, для которых она
                     была запрошена. Если вы хотите удалить свою информацию с наших серверов, вы можете попросить нас об
                     этом
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Ссылки на сторонние веб-сайты</h2>
                  <p class="maintext light">
                     Везде, где наш веб-сайт содержит ссылки на другие веб-сайты, эта политика конфиденциальности не
                     распространяется на эти другие веб-сайты, и мы не несем ответственности за содержание любого
                     другого веб-сайта. Пожалуйста, ознакомьтесь с политикой конфиденциальности любого другого веб-сайта
                     перед отправкой на него какой-либо личной информации.
                  </p>
               </div>

               <div class="politics_sec">
                  <h2 class="h5 caps reg">Связаться с нами</h2>
                  <p class="maintext light">
                     Любые изменения, которые мы можем внести в эту Политику в будущем, будут опубликованы на этой
                     странице. Если есть какие-либо вопросы относительно этой политики конфиденциальности, вы можете
                     связаться с нами.
                  </p>
               </div>
            </div>


         </div>
      </section>

   </main>

   <include src="src/components/footer.html" locals=''></include>

</body>

</html>