<!DOCTYPE html>
<html lang="ru">

<head>
   <include src="src/components/headers.html" locals='{
      "title": "Карта сайта"
   }'></include>
</head>


<body>

   <include src="src/components/header.html" locals=''></include>

   <main class="main sitemap">
      <div class="container h5">
         <a href="index.html">Главная</a>
         <a href="about.html">О нас</a>
         <a href="catalog.html">Каталог</a>
         <a href="contacts.html">Контакты</a>
         <a href="managers.html">Менеджеры</a>
         <a href="service.html">Услуги</a>
         <a href="single.html">Недвижимость</a>
         <a href="news.html">Новости</a>
         <a href="new.html">Новость</a>
         <a href="politics.html">Политика</a>
         <a href="404.html">404</a>
         <a href="ui.html">UI</a>
      </div>
   </main>

   <include src="src/components/footer.html" locals=''></include>
</body>

</html>