html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Raleway", sans-serif;
    font-variant-numeric: lining-nums;
    background: #eefbff;

    /* background: beige; */
    /* background: #4AE9FF; */
    /* filter: blur(150px); */
    /* background: #0CE2FF; */
    /* background: linear-gradient(180deg, #FFD8ED 0%, #09C269 100%); */
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
   height: auto;
   width : 8px;
   height: 8px;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
   background-color: #CCEAF3;
   border-radius   : 15px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
   background: transparent;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button,
input {
    outline: none;
    border: none;
    background: transparent;

    font-family: "Raleway", sans-serif;

    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    /* text-dark */
    color: #333333;
    font-variant-numeric: lining-nums;
}

.red {
    background: #F5DAD8 !important;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    max-width: 100%;
    /* width: 1400px; */
    width: 1200px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
    gap: 30px;
    /* position: relative; */
    /* z-index: 2; */
    padding: 40px 20px 50px 20px;
    overflow: hidden;
}

.pay_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
    gap: 10px 25px;
    overflow-x: auto;
    padding-bottom: 20px;
    align-items: flex-start;
    /* margin-bottom: 50px; */
}

.pay_list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.pay_list__item__block {
    border: 1px solid #333333;
    padding: 8px 12px;
    border-radius: 10px;
    background: #D8F5E7;
}

.pay_list__item__block:first-child {
    background: none;
    width: 48px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.center {
    width: 410px;
}

.main__bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    pointer-events: none;
}

.top {
    display: flex;
    gap: 6px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
}

.top svg {
    width: 1em;
    height: 1em;
}

.input_card {
    position: relative;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    isolation: isolate;
    background: #CCEAF3;
    border-radius: 20px;
    width: 280px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #4D4D4D;
}

.input_card > span {
    padding-left: 5px;
    display: block;
}

.input_card--main span:first-child {
    font-size: 16px;
}

.input_card--main span:last-child {
    font-size: 20px;
    font-weight: 700;
}

.input_card__label {
    line-height: 22px;
    color: #4D4D4D;
}

.input_card__input {
    position: relative;
    width: 100%;
}

.input_card__input span {
    position: absolute;
    top: calc(50% - 1.2em/2);
    right: 10px;

    font-weight: 300;
    font-size: 1em;
    line-height: 1.2;

    color: #A6A6A6;
}

.input_card__input input {
    padding: 10px 10px 11px 12px;
    width: 100%;
    background: #FFFFFF;
    border: 0.5px solid #A6A6A6;
    border-radius: 10px;
}

.input_card__icon {
    position: absolute;
    width: 52px;
    height: 52px;
    left: -26px;
    top: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #D8F5E7;
    border-radius: 50%;

    border: 3px solid #fff;
}

.input_card__icon--red {
    background: #F5DAD8;
}

.input_card__icon svg {
    width: 50%;
    height: 50%;
}

.main_btn {
    background: #136AE8;
    padding: 20px;
    border-radius: 24px;
    color: #FFFFFF;
    font-weight: 700;
}

.main_card {
    filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;
    padding: 22px 20px;
    border-radius: 32px;
    height: 160px;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.main_card:last-child {
    margin-top: -89px;
}

.main_card:nth-last-child(2) {
    margin-top: -89px;
}

.main_card--red {
    background: #F5DAD8;
}

.main_card--green {
    background: #D8F5E7;
}

.main_card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    white-space: nowrap;
}

.main_card__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_card__number {
    font-weight: 900;
    letter-spacing: 0.04em;
    color: #333333;
}

.main_card__number--big {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 86px;
    letter-spacing: -0.04em;
    /* text-dark */
    color: #333333;
    margin-top: -9px;
}

.header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.2;
    /* identical to box height */
    letter-spacing: -0.04em;
    /* text-dark */
    color: #333333;
    text-align: center;
    margin: 0 0 20px 0;
}

.title {
    margin: 0 0 20px 0;
    color: #333333;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.subheader {
    font-size: 28px;
    text-align: center;
    color: #333333;
    margin: 40px 0 30px 0;
    font-weight: 400;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.links__link {
    background: #CCEAF3;
    color: #333333;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    transition: opacity 0.3s;
    text-align: center;
}

.links__link:hover {
    opacity: 0.5;
}

.share {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #CCEAF3;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 2;
}

.share:hover {
    opacity: 0.6;
}

.share--tg {
    left: 30px;
    right: auto;
}

.share svg {
    width: 30px;
    height: 30px;
    fill: #FFF;
}

.share_panel {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.share_panel.active {
    opacity: 1;
    pointer-events: auto;
}

.share_panel__container {
    border-radius: 20px;
    /* background: #D8F5E7; */
    padding: 30px;
    background: #eefbff;
    border: 1px solid #333333;
    width: 400px;
    max-width: 90%;
}

.share_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.share__btn {
    padding: 10px;
    background: #CCEAF3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.share__btn:hover {
    opacity: 0.6;
}

.share__btn svg {
    width: 30px;
    height: 30px;
}

.share_bottom {
    border: 1px solid #333333;
    white-space: nowrap;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px 12px;
    overflow: hidden;
    margin-top: 20px;
}

/* .share__link span {
    transform: translate(-10%);
} */

.rekblock {
    margin-top: 40px;
}

#yandex_rtb_C-A-12452208-3 {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        padding: 20px;
    }

    .header { 
        font-size: 30px;
        margin-bottom: 10px;
    }

    .subheader {
        font-size: 25px;
        margin-top: 30px;
    }

    .title {
        font-size: 18px;
    }

    .pay_list {
        gap: 8px 12px;
    }

    .pay_list__item {
        font-size: 18px;
    }

    .pay_list__item__block:first-child {
        width: 2.2em;
    }

    button, input {
        font-size: 18px;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .input_card {
        width: auto;
        padding: 12px;
        border-radius: 10px;
    }

    .input_card--main:last-child, .input_card--main:nth-last-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .share_panel__container {
        padding: 20px 15px;
    }

    .share_bottom {
        font-size: 16px;
    }

    .share {
        bottom: 15px;
        right: 10px;
    }

    .share--tg {
        left: 10px;
        right: auto;
    }
}

@media (max-width: 650px) {
    #yandex_rtb_C-A-12452208-3 {
        display: block;
    }

    #yandex_rtb_C-A-12452208-2 {
        display: none;
    }
}